In [ ]:
a="anitha"
print(a[2])
print(a[5])

i
a

In [ ]:
a="welcome to python"
print(a[2:5])
print(a[6:10])

lco
e to

In [ ]:
#to get negative index
a="welcome to python"
print(a[-2])
print(a[-6:-2])

o
pyth

In [ ]:
a="welcome to python"
print(a[2:8:2])

loe

In [ ]:
a="welcome to python"
print(a[:4])
print(a[2:])

welc
lcome to python

In [ ]:
a="welcome to python"
print(a.split())

['welcome', 'to', 'python']

In [ ]:
a="welcome to python"
print(a.strip())

welcome to python

In [ ]:
a="welcome to python"
print(a.upper())

WELCOME TO PYTHON

In [ ]:
a="WELCOME TO PYTHON"
print(a.lower())

welcome to python

In [ ]:
a="He went to Temple"
print(a.replace("He", "she"))

she went to Temple

In [ ]:
a="hi"
b="hello"
c=a+b
print(c)
print(a+" "+b)

hihello
hi hello

Creating text file

In [ ]:
file=open("fruit.txt","w+")
file.write("apple")
file.write("banana")
file.close()

In [ ]:
file1=open("numbers.txt","w+")
for i in range(5):
  file1.write("The numbers are :%d/r/n"%(i+1))

In [ ]:
open("numbers.txt","r")
if file1.mode=="r":
  content=file1.read()
  print(content)

**Text preprocessing**

In [ ]:
import nltk
import string
import re

In [ ]:
#text lowercase
def lowercase_text(text):
  return text.lower()

input_string="The Editorial Of Organiser weekly Further Noted that Regional Imbalance was Another Critical dimension"

lowercase_text(input_string)

'the editorial of organiser weekly further noted that regional imbalance was another critical dimension'

**Remove numbers**

In [ ]:
def remove_numbers(text):
  result=re.sub(r'\d+','',text)
  return result()

  input_string="There are 10 boxes contains 6 ball each"
  remove_numbers(input_string)

convert numbers into words using inflect library

In [ ]:
import inflect

In [ ]:
a=inflect.engine()
#convert number into text
def convert_numbers(text):

  temp_string=text.split()
  new_str=[]
  for word in  temp_string:
    if word.isdigit():
      temp=a.number_to_words(word)
      new_str.append(temp)

  else:
    new_str.append(word)

    temp_string=" ".join(new_str)


  return temp_string

input_string="There are 10 boxes contains 6 ball each"
convert_numbers(input_string)

'ten six each'

[link text](https://)**Remove punctuation**

In [ ]:
def rem_pun(text):
  translator=str.maketrans("",string.punctuation)
  return text.translate(translator)
  input_string="If you’ve ever wondered, “Do I need a comma here?” or “Does punctuation go inside quotations?"
  rem_pun(input_string)

  string.punctuation